.bg_video {
    z-index: -1000;
    height: auto;
    background-size: cover;
    width: auto;
    min-width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    min-height: 100%;
}

body {
    background: transparent;
}

.title-sub--c8 {
    color: #dedede;
}

.title-2 {
    font-size: 700;
    font-size: 48px;
    color: #ffffff;
    line-height: -webkit-calc(60/48);
    line-height: -moz-calc(60/48);
    line-height: calc(60/48);
}

.title--sm2 {
    color: #ffffff;
}

p.value {
    color: #ffffff;
}

.au-btn--solid,
.swal-button {
    background: #fff;
    color: #222;
    border: 0;
    line-height: 45px;
}

.bg-parallax {
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer {
    position: relative;
    padding: 75px 0 95px;
    background-image: url('images/bg-footer.jpg');
}

.menu a {
    font-size: 13px;
    color: #fff;
}

.menu a:hover {
    color: #fcc63b;
}

.menu-mobile .menu-item a:hover {
    /* padding: 10px 25px 10px 15px */
    /* border-bottom: 1px solid #a4a4a4 */
    /* position: relative */
    color: #fcc63b;
}

.menu-mobile .menu-item a {
    padding: 10px 25px 10px 15px;
    border-bottom: 1px solid #a4a4a4;
    position: relative;
    color: #000;
}

.hamburger:hover {
    background: #fcc63b;
    border-color: transparent;
}

.title-sub {
    font-size: 11px;
    color: #eeeeee;
    text-transform: uppercase;
    font-weight: 400;
}

.title-1 {
    font-weight: 700;
    font-size: 38px;
    color: #ffffff;
    line-height: -webkit-calc(50/38);
    line-height: -moz-calc(50/38);
    line-height: calc(50/38);
}

.media-statistic-2 .media__title {
    color: #faf5f5;
    margin-top: 4px;
    box-shadow: inset 20px -110px black;
}

body.contact-page {
    background-color: black;
}

.text--c2 {
    color: #ffffff;
}

.footer.bg-parallax {
    background-position: 0 -245px;
    background-attachment: scroll;
}
